.navbartop {
  background-image: linear-gradient(to top, #fb8c00, #ffa726);
}

.navbar {
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

/* .top-nav-collapse {
  background: #000428 !important;
} */

@media (max-width: 768px) {
  /* .navbar:not(.top-nav-collapse) {
    background: #0072ff !important;
  } */
}

nav .nav-link {
  font-weight: bolder;
  /* background-color: brown; */
  margin: auto;
  height: 40px;
  color: white;
  letter-spacing: 0.4px;
  background-color: transparent;
}
nav .nav-link:hover,
.nav-link:focus {
  /* font-weight: normal; */
  /* background-color: brown; */
  padding-left: 8px;
  font-size: 18px;
  transition: 300ms ease-out;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.activeHover {
  position: relative;
  height: 100%;
}

.activeHover:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.activeHover:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/* .widthcss {
  height: 500px;
} */
