@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");

.column {
  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: 20px;
  padding: 10px;
}

.h3class {
  margin-top: 20px;
  /* margin-left: 20px; */
  padding: 10px;
  font-family: "Quicksand", sans-serif;
}

.Teamtopcss h2 {
  font-size: 5.5rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px;
  padding-top: 12px;
  padding-bottom: 30px;
  font-family: "Lora", serif;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.zcss {
  width: 100%;
}

@media all and (max-device-width: 480px) and (orientation: portrait) {
  body {
    width: 100%;
  }

  .h3class {
    font-size: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .Teamtopcss h2 {
    font-size: 3.5rem;
    margin-left: 0px;
    margin-right: 0px;
  }

  .column {
    margin: 0;
    padding: 0;
  }
}
